<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Text Anlzr</title>
    <script>
        // Check that service workers are supported
        // if ('serviceWorker' in navigator) {
        //     // Use the window load event to keep the page load performant
        //     console.log('hey I am your service worker');
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }
    // </script>
</head>

<body>

    <header class='site-header'>
        <div class="">
            <h2>Article Analyzer</h2>
        </div>
    </header>
    <main>
        <section class='form-section'>
            <form class="url-form">
                <input class='url-input' id="url" type="text" name="input" value=""  placeholder="URL">
                <input class='submit-button' type="submit" name="" value="submit">
            </form>
        </section>
        <section class='text-section'>
            <p class='text-content'></p>

        </section>

        <section class='polarity-section'>
            <div id="results">
                <h2>Polarity</h2>
                <h1 class='polarity-result'></h1>
                <span class='polarity-confidence confidence'></span>
            </div>
        </section>

        <section class='subjective-section'>
            <div id="results">
                <h2>Subjectivity</h2>
                <h1 class='subjectivity-result'></h1>
                <span class='subjectivity-confidence confidence'></span>
            </div>
        </section>
    </main>

    <footer>
        <p>Site by Jerry Davidson</p>
    </footer>

</body>

</html>